$white: #ffffff;
$bg: #72796f;
$matchColor: #008080; //salmon;//#df9496;
$matchColor1: #b2d8d8;
$text: darken($bg, 30%);

.home-bg,
.cart-bg {
  background-color: $matchColor1;
  // background: $white;
  // background: lighten($matchColor, 24%); //#fbf2f2
}

.details-bg {
  background: lighten($matchColor, 10%);
  //  background-color: $matchColor1;
}
.grey {
  background-color: $bg;
}
.green {
  background-color: rgb(51, 173, 51);
}

/*
 {
  background: $matchColor;
}*/
