@import "./colors";

.cart {
  header {
    height: 100px;
    background-color: $matchColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      color: $white;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .backBox {
    }
    .home {
    }
  }
  .items {
      display: block;
      padding: 10px 0;
    .cart-box {
        padding: 10px 0;
        display: flex;
      .image-box {
        max-height: 80px;
        padding: 10px;
        margin: 0 10px;
        background-color: $white;
        img {
          //transform: scale(0.3);
          width: 60px;
        }
      }
      .content {
        .upper {
          .title {
          }
          .delete {
          }
        }
        .lower {
          .counter {
          }
          .total {
          }
        }
      }
    }
  }
  .footer {
    button {
    }
  }
}
