@import "./colors";

.cart {
  //background-color: $matchColor;
  color: $text;
  header {
    height: 70px;
    background-color: $matchColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      color: $white;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .backBox {
    }
    .home {
    }
  }
  .items {
    display: block;
    padding: 20px 0;
    .cart-box {
      padding: 10px 0;
      display: flex;
      &:hover {
        background: lighten($bg, 10%);
        color: $white;
        .counter{
            //border: 0 !important;
        }
        button {
          color: $white !important;
        }
      }
      .image-box {
        padding: 10px;
        margin: 0 40px 0 10px;
        background-color: $white;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          object-fit: contain;
          max-height: 80px;
        }
      }
      .content {
        width: 100%;
        .upper,
        .lower {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .title {
            padding: 0 10px 15px 0;
          }
          .delete,
          .total {
            padding: 0 20px 15px 0;
          }
        }
        .lower {
          .total {
            padding-bottom: 0;
          }
          .counter {
            border: 1px solid $matchColor;
            width: 80px;
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
            //padding: 4px;
            button {
              color: $text;
              background-color: unset;
              font-size: 16px;
              font-weight: 100;
              //height: 100%;
            }
            .minus{
                position: relative;
                bottom: 3px;
            }
          }
        }
      }
    }
  }
  .footer {
    button {
      background-color: $matchColor;
      padding: 4px;
    }
  }
}
