@import "./colors";

.cart {
  header {
    height: 100px;
    background-color: $matchColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      color: $white;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .backBox {
    }
    .home {
    }
  }
  .items {
      display: block;
      padding: 10px 0;
      width: 100%;
    .cart-box {
        padding: 10px 0;
        display: flex;
        width: 100%;
      .image-box {
        max-height: 80px;
        padding: 10px;
        margin: 0 40px 0 10px;
        background-color: $white;
        img {
          width: 60px;
        }
      }
      .content {
        .upper {
            display: flex;
            justify-content: space-between;
          .title {
              padding: 0 10px 15px 0 ;
          }
          .delete {
          }
        }
        .lower {
          .counter {
          }
          .total {
          }
        }
      }
    }
  }
  .footer {
    button {
    }
  }
}
