@import "./colors";

.backBox {
  display: flex;
  margin: auto 0;
  padding-left: 12.4px;
  .back {
    transform: rotate(180deg);
    width: 25.6px;
    height: 25.6px;
    position: relative;
  }
  transition: 2s ease-in-out;
  &:hover {
    .back {
      transform: rotate(180deg) scale(1.1);
      // transition:  ;
      //animation: back 0.7s 1;
    }
  }
}
.homeIcon {
  margin: auto 0;
  img {
    transform: scale(0.5);
  }
  &:hover {
    img {
      transform: scale(0.55);
      // animation: home 1s 1;
    }
  }
}
button {
  text-transform: capitalize;
  font-weight: bold;
  color: $white;
  outline: 0;
  border: 0;
  border-radius: 5px;
  min-width: 140px;
  height: 42px;
  background-color: $matchColor;

  &:hover {
    border-radius: 0;
    transform: scale(1.1);
  }
  /*&:visited {
    border-radius: 0;
    transform: scale(1);
  }*/
}
@keyframes home {
  0% {
    transform: scale(0.4);
  }
  25% {
    transform: scale(0.35);
  }
  50% {
    transform: scale(0.35);
  }
  75% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes back {
  from {
    left: 0px;
    //  transform: rotate(180deg) scale(0.7);
  } /*
  10% {
    left: -20px;
    //  transform: rotate(180deg) scale(0.7);
  }
  20% {
    left: -40px;
    // transform: rotate(180deg) scale(0.6);
  }
  30% {
    left: -60px;
    //   transform: rotate(180deg) scale(0.5);
  }
  40% {
    left: -80px;
    // transform: rotate(180deg) scale(0.4);
  }
  50% {
    left: -100px;
    //  transform: rotate(180deg) scale(0.4);
  }
  60% {
    //  left: -40px;
    //  transform: rotate(0deg) scale(0.4);
  }
  70% {
    //   left: -20px;
    // transform: rotate(0deg) scale(0.5);
  }
  80% {
    //  left: 0px;
    //  transform: rotate(0deg) scale(0.6);
  }
  90% {
    //  transform: rotate(0deg) scale(0.7);
  }*/
  to {
    left: -18px;
  }
}
.cartImg {
  margin-right: 10px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 50%;
    position: relative;
    top: -13px;
    right: -40px;

    span {
      font-size: 13px;
      padding-right: 1px;
    }
  }
}
.none {
  display: none;
}
.block {
  display: block;
}
.message {
  width: 100%;
  color: $white;
  position: fixed;
  //top: 50px;
  div {
    margin: 50px auto;
    padding: 10px 30px;
    width: 50%;
    text-align: center;
  }
  //display: none ;
  animation: msg 4s 1;
}
@keyframes msg {
  /* 0% {
    transform:  scale(0);
  }
  10% {
    transform:  scale(0.4);
  }
  20% {
    transform:  scale(0.6);
  }
  30% {
    transform:  scale(0.8);
  }
  40% {
    transform:  scale(1);
  }
  50% {
    transform:  scale(1);
  }
  60% {
    transform:  scale(1);
  }
  70% {
    transform:  scale(0.8);
  }
  80% {
    transform:  scale(0.5);
  }
  90% {
    transform:  scale(0.2);
  }
  100% {
    transform:  scale(0);
  }*/
}
@supports (-webkit-touch-callout: none) {
  .home {
    .input-categories {
      .input-box {
        border-left-width: 1px;
      }
    }
  }
}
//.details .content .title,
.details .content .price-rating,
.cart .counter {
  font-family: "Libre Bodoni", serif;
}
