.home {
  .nav {
    display: flex;
    .input-categories {
      .input-box {
        .image {
          img {
          }
        }
        input {
        }
      }
      .categories {
        display: flex;
        .image {
          display: none;
        }
      }
    }
    .cartImg {
    }
  }
}
