.home {
  background-color: aquamarine;
  padding: 10px 10px;
  .nav {
      padding: 0 10px;
    display: flex;
    justify-content: space-between;
    .input-categories {
      display: flex;
      .input-box {
        display: flex;
        height: 40px;
        background-color: bisque;
        border-radius: 10px;
        .image {
          img {
          }
        }
        input {
          width: 300px;
        }
      }
      .categories {
        display: flex;
        div {
          padding: 10px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 15px;
          white-space: nowrap;
        }
        .image {
          display: none;
        }
      }
    }
    .cartImg {
      border: 10px solid black;
    }
  }
}
