@import "./colors";
.home {
  color: $text;
  .nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    //background-color: $matchColor;
    background: linear-gradient(45deg, $matchColor, $matchColor1);
    .cartImg {
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 44.8px;
        height: 44.8px;
      }
    }
  }
  .input-categories {
    padding: 20px;
    margin: 0 auto;
    width: max-content;
    display: flex;
    .input-box {
      display: flex;
      height: 40px;
      background-color: lighten($color: $bg, $amount: 45%);
      border: 0.6px solid lighten($color: $bg, $amount: 45%);
      input {
        width: 300px;
        border: 0;
        outline: 0;
        padding: 1px 5px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        .options {
          z-index: 1;
          background-color: lighten($color: $bg, $amount: 45%);
          display: flex;
          div {
            padding: 10px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
            white-space: nowrap;

            &:hover {
              background-color: lighten($color: $bg, $amount: 5%);
              color: $white;
            }
          }
        }
        .image {
          display: none;
        }
      }
    }
  }
  .page-content {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    .item-box {
      width: 250px;
      height: 300px;
      margin: 15px 20px;
      background-color: $white;
      position: relative;
      overflow: hidden;
      border: 1px solid lighten($matchColor1, 10%);
      border-radius: 2px;
      display: flex;
      align-items: center;
      .image-box {
        text-align: center;
        width: -webkit-fill-available;
        padding: 7px 5px;

        &:hover {
          cursor: pointer;
        }
        img {
          max-width: 200px;
          max-height: 290px;
          object-fit: fill;
        }
      }
      .details-box {
        width: -webkit-fill-available;
        display: none;
        background: $matchColor;
        padding: 20px 15px;
        color: $white;
        position: absolute;
        bottom: 0;
        .title {
        }
        .price-star {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        }
      }
      &:hover {
        .image-box {
        }
        .details-box {
          cursor: pointer;
          height: -webkit-fill-available;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.336),
            rgba(194, 78, 179, 0.671)
          );
          color: rgb(255, 255, 255);
          font-weight: bold;
          display: grid;
          align-items: end;
          grid-template:
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "title"
            "price-star";
          .title {
            grid-area: title;
            font-size: 15px;
          }
          .price-star {
            grid-area: price-star;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .nav {
      .cartImg {
      }
    }
    .input-categories {
      .input-box {
        .image {
          img {
          }
        }
        input {
        }
      }
      .categories {
        .image {
          display: flex !important;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
        }
        div {
          display: none;
        }
        &:hover {
          display: block;
          .options {
            display: block;
            position: fixed;
            div {
              display: block;
            }
          }
        }
      }
    } /*
    .page-content {
      display: flex;
      flex-wrap: wrap;
      .item-box {
        width: 250px;
        .image-box {
          background-color: $white;
          padding: 10px;
          img {
            width: 200px;
          }
        }
        .details-box {
          .title {
          }
          .price {
          }
          .rating {
            .rate {
            }
            .count {
            }
          }
          button {
          }
        }
      }
    }*/
  }
} /*
@media screen and (max-width: 756px) {
    .home {
        background-color: aquamarine;
        padding: 10px 10px;
        .nav {
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          .input-categories {
            display: flex;
            .input-box {
              display: flex;
              height: 40px;
              background-color: bisque;
              border-radius: 5px;
              .image {
                padding: 4px;
                img {
                }
              }
              input {
                width: 300px;
                border: 0;
                outline: 0;
              }
            }
            .categories {
              display: flex;
              div {
                padding: 10px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 15px;
                white-space: nowrap;
              }
              .image {
                display: none;
              }
            }
          }
          .cartImg {
            border: 10px solid black;
          }
        }
        .page-content {
    .item-box {
      .image-box {
        img {
        }
      }
      .details-box {
        .title {
        }
        .price {
        }
        .rating {
          .rate {
          }
          .count {
          }
        }
        button {
        }
      }
    }
  }
      }
}
@media screen and (max-width: 414px) {
    .home {
        background-color: aquamarine;
        padding: 10px 10px;
        .nav {
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          .input-categories {
            display: flex;
            .input-box {
              display: flex;
              height: 40px;
              background-color: bisque;
              border-radius: 5px;
              .image {
                padding: 4px;
                img {
                }
              }
              input {
                width: 300px;
                border: 0;
                outline: 0;
              }
            }
            .categories {
              display: flex;
              div {
                padding: 10px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 15px;
                white-space: nowrap;
              }
              .image {
                display: none;
              }
            }
          }
          .cartImg {
            border: 10px solid black;
          }
        }
        .page-content {
    .item-box {
      .image-box {
        img {
        }
      }
      .details-box {
        .title {
        }
        .price {
        }
        .rating {
          .rate {
          }
          .count {
          }
        }
        button {
        }
      }
    }
  }
      }
}
*/
@media screen and (max-width: 622px) {
  .home {
    .input-categories {
      .categories {
        div {
          display: none;
        }
        &.modal {
          display: block;
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.329);
          .options {
            z-index: 1;
            min-width: 50%;
            min-height: 250px;
            display: grid;
            div {
              text-align: center;
              font-weight: bold;

              &:hover {
                background-color: lighten($color: $bg, $amount: 5%);
                color: $white;
              }
            }
          }
          .image {
            display: none !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 622px) {
  .home {
    .input-categories {
      .input-box {
        input {
          width: unset;
        }
      }
      .categories {
        div {
        }
      }
    }
    .page-content {
      .item-box {
        width: 250px;
        .image-box {
          width: unset;
          img {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
}
/*
        .button-box {
          //padding-top: 50px;
          display: flex;
          justify-content: flex-end;
          z-index: 1000;
          button {
            display: flex;
            align-items: center;
            min-width: 120px;
            height: 40px;
            padding: 0;
            .price,
            span {
              padding: 1px 5px;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              white-space: nowrap;
            }
            span {
              background-color: unset;
              padding-right: 11px;
            }
            .price {
              background-color: $bg;
              padding-left: 11px;
            }
            /*
            &:hover {
              border-radius: 0;
              transform: skew(0deg);
            }*
          }
        }*/
