.home {
    background-color: aquamarine;
  .nav {
    display: flex;
    justify-content: space-between;
    .input-categories {
        display: flex;
      .input-box {
          display: flex;
        .image {
          img {
          }
        }
        input {
        }
      }
      .categories {
        display: flex;
        div{
            padding: 10px;
        }
        .image {
          display: none;
        }
      }
    }
    .cartImg {
        border: 10px solid black;
    }
  }
}
