@import "./colors";
.home {
  //
  color: $text; //#272926
  //color: $white;
  .nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: $matchColor;

    .cartImg {
      //border: 10px solid black;
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        //transform: scale(0.8);
        width: 44.8px;
        height: 44.8px;
      }
    }
  }
  .input-categories {
    padding: 20px;
    margin: 0 auto;
    width: max-content;
    display: flex;
    .input-box {
      display: flex;
      height: 40px;
      background-color: lighten($color: $bg, $amount: 45%);
      border: 0.6px solid lighten($color: $bg, $amount: 45%);
      // border-radius: 5px;
      input {
        width: 300px;
        border: 0;
        outline: 0;
        padding: 1px 5px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        .options {
          background-color: lighten($color: $bg, $amount: 45%);
          display: flex;
          div {
            padding: 10px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
            white-space: nowrap;

            &:hover {
              background-color: lighten($color: $bg, $amount: 5%);
              color: $white;
            }
          }
        }
        .image {
          display: none;
        }
      }
    }
  }
  .page-content {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    .item-box {
      width: 200px;
      margin: 15px 20px;
      background-color: $white;
      .image-box {
        height: 200px;
        width: -webkit-fill-available;;
        padding: 7px 5px;
      
        &:hover {
          cursor: pointer;
        }
        img {
         // max-width: -webkit-fill-available;
          max-width: 200px ;
          //height: 100%;
          object-fit: fill;
        }
      }
      .details-box {
        z-index: 1;
        background: $matchColor; /*linear-gradient(
            0deg,
            #72796f,
            #72796fb6,
            #df949711,
            #df949700
          );*/
        padding: 20px 15px;
        color: $white;
        .title {
        }

        .button-box {
          //padding-top: 50px;
          display: flex;
          justify-content: flex-end;
          z-index: 1000;
          button {
            display: flex;
            align-items: center;
            min-width: 120px;
            height: 40px;
            padding: 0;
            .price,
            span {
              padding: 1px 5px;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              white-space: nowrap;
            }
            span {
              background-color: unset;
              padding-right: 11px;
            }
            .price {
              background-color: $bg;
              padding-left: 11px;
            }
            /*
            &:hover {
              border-radius: 0;
              transform: skew(0deg);
            }*/
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .nav {
      .cartImg {
        //display: none;
      }
    }
    .input-categories {
      .input-box {
        .image {
          img {
          }
        }
        input {
        }
      }
      .categories {
        .image {
          display: flex !important;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
        }
        div {
          display: none;
        }
        &:hover {
          display: block;
          .options {
            display: block;
            position: fixed;
            div {
              display: block;
            }
          }
        }
      }
    }/*
    .page-content {
      display: flex;
      flex-wrap: wrap;
      .item-box {
        width: 250px;
        .image-box {
          background-color: $white;
          padding: 10px;
          img {
            width: 200px;
          }
        }
        .details-box {
          .title {
          }
          .price {
          }
          .rating {
            .rate {
            }
            .count {
            }
          }
          button {
          }
        }
      }
    }*/
  }
} /*
@media screen and (max-width: 756px) {
    .home {
        background-color: aquamarine;
        padding: 10px 10px;
        .nav {
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          .input-categories {
            display: flex;
            .input-box {
              display: flex;
              height: 40px;
              background-color: bisque;
              border-radius: 5px;
              .image {
                padding: 4px;
                img {
                }
              }
              input {
                width: 300px;
                border: 0;
                outline: 0;
              }
            }
            .categories {
              display: flex;
              div {
                padding: 10px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 15px;
                white-space: nowrap;
              }
              .image {
                display: none;
              }
            }
          }
          .cartImg {
            border: 10px solid black;
          }
        }
        .page-content {
    .item-box {
      .image-box {
        img {
        }
      }
      .details-box {
        .title {
        }
        .price {
        }
        .rating {
          .rate {
          }
          .count {
          }
        }
        button {
        }
      }
    }
  }
      }
}
@media screen and (max-width: 414px) {
    .home {
        background-color: aquamarine;
        padding: 10px 10px;
        .nav {
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          .input-categories {
            display: flex;
            .input-box {
              display: flex;
              height: 40px;
              background-color: bisque;
              border-radius: 5px;
              .image {
                padding: 4px;
                img {
                }
              }
              input {
                width: 300px;
                border: 0;
                outline: 0;
              }
            }
            .categories {
              display: flex;
              div {
                padding: 10px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 15px;
                white-space: nowrap;
              }
              .image {
                display: none;
              }
            }
          }
          .cartImg {
            border: 10px solid black;
          }
        }
        .page-content {
    .item-box {
      .image-box {
        img {
        }
      }
      .details-box {
        .title {
        }
        .price {
        }
        .rating {
          .rate {
          }
          .count {
          }
        }
        button {
        }
      }
    }
  }
      }
}
*/
@media screen and (max-width: 622px) {
  .home {
    .input-categories {
      .categories {
        div {
          display: none;
        }
        //&:hover, &:active
        &.modal {
          display: block;
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.329);
          .options {
            //width: 100%;
            z-index: 1;
            min-width: 50%;
            min-height: 250px;
            display: grid;
            div {
              text-align: center;
              font-weight: bold;

              &:hover {
                background-color: lighten($color: $bg, $amount: 5%);
                color: $white;
              }
            }
          }
          .image {
            display: none !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 622px) {
  .home {
    .input-categories {
      .input-box {
        input {
          width: unset;
        }
      }
      .categories {
        div {
        }
      }
    }
    .page-content {
      .item-box {
        width: 250px;
        .image-box {
          width: unset;
          img {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
}
