@import "./colors";
//@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Bodoni:ital@1&display=swap");

.svg {
  position: fixed;
  top: 0;
  background-color: $matchColor;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  .reloading {
    margin-top: 20px;
    color: $white;
  }
  #svg-spinner {
    display: flex;
    margin: auto;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    transition-duration: 1.2s;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
font-family: 'Libre Bodoni', serif;
font-family: 'My Soul', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Tapestry', cursive;
font-family: 'Vollkorn', serif;
*/
.home {
  color: $text;
  .nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: $matchColor;
    box-shadow: 0px 0px 5px 0.18px $bg;
    h1 {
      color: $white;
      font-family: "Great Vibes", cursive;
    }
    .cartImg {
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        color: $white;
        top: -13px !important;
        right: -45px !important;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .input-categories {
    padding: 20px;
    margin: 0 auto;
    width: max-content;
    display: flex;
    .input-box {
      display: flex;
      height: 40px;
      background-color: lighten($color: $bg, $amount: 45%);
      border: 0.6px solid lighten($color: $bg, $amount: 45%);
      input {
        width: 300px;
        border: 0;
        outline: 0;
        padding: 1px 5px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .categories {
        /* display: flex;
        align-items: center;
        justify-content: center;*/
        position: relative;
        &:hover {
          cursor: pointer;
        }
        .options {
          z-index: 1;
          background-color: lighten($color: $bg, $amount: 45%);
          display: flex;
          div {
            padding: 10px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
            white-space: nowrap;

            &:hover,
            &:active,
            &:visited {
              background-color: lighten($color: $bg, $amount: 5%);
              color: $white;
            }
          }
        }
        .image {
          display: none;
        }
      }
    }
  }
  .category {
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    color: $text;
    margin: 20px 0;
  }
  .page-content {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    .item-box {
      width: 250px;
      height: 300px;
      margin: 15px 20px;
      background-color: $white;
      position: relative;
      overflow: hidden;
      border: 1px solid lighten($matchColor1, 10%);
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      .image-box {
        text-align: center;
        width: -webkit-fill-available;
        padding: 7px 5px;

        img {
          max-width: 200px;
          max-height: 290px;
          object-fit: fill;
        }
      }
      .details-box {
        width: -webkit-fill-available;
        display: grid;
        padding: 20px 15px;
        color: $white;
        position: absolute;
        bottom: 0;
        height: -webkit-fill-available;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.43),
          rgba(0, 0, 0, 0.63)
        );
        font-weight: bold;
        align-items: end;
        grid-template:
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "title"
          "price-star";
        .title {
          grid-area: title;
          font-size: 15px;
          text-align: center;
        }
        .price-star {
          display: none;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          grid-area: price-star;
          margin-top: 0;
          .rating {
            height: max-content;
            align-items: center;
            .empty-icons,
            .filled-icons {
              display: flex !important;
              svg {
                width: 23px;
                height: 23px;
              }
            }
          }
        }
      }
      &:hover {
        cursor: pointer;

        .details-box {
          cursor: pointer;
          display: grid;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.53),
            rgba(0, 0, 0, 0.53),
            rgba(0, 0, 0, 0.63)
          );

          .title {
            text-align: start;
          }
          .price-star {
            display: flex;
            .rating {
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .input-categories {
      .categories {
        .image {
          display: flex !important;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
        }
        div {
          display: none;
        }
        &:hover {
          display: block;
          .options {
            position: absolute;
            right: 0;
            display: block;
            div {
              display: block;
            }
          }
        }
      }
    } /*
    .page-content {
      display: flex;
      flex-wrap: wrap;
      .item-box {
        width: 250px;
        .image-box {
          background-color: $white;
          padding: 10px;
          img {
            width: 200px;
          }
        }
        .details-box {
          .title {
          }
          .price {
          }
          .rating {
            .rate {
            }
            .count {
            }
          }
          button {
          }
        }
      }
    }*/
  }
}
@media screen and (max-width: 770px) {
  .home {
    .page-content {
      .item-box {
        .details-box {
          display: grid;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.53),
            rgba(0, 0, 0, 0.53),
            rgba(0, 0, 0, 0.63)
          );

          .title {
            text-align: start;
          }
          .price-star {
            display: flex;
            .rating {
              display: flex;
              .empty-icons,
              .filled-icons {
                //  display: flex !important;
              }
            }
          }
        }
        &:hover {
          .details-box {
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.53),
              rgba(0, 0, 0, 0.53),
              rgba(0, 0, 0, 0.63)
            ) !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 622px) {
  .home .page-content .item-box:hover .details-box .title {
    text-align: start;
  }
  .home {
    .input-categories {
      .input-box {
        input {
          max-width: 220px;
        }
      }
    }
    .page-content {
      .item-box {
        width: 180px;
        height: 230px;
        .image-box {
          width: unset;
          img {
            max-width: 160px;
            max-height: 210px;
          }
        }
        .details-box {
          padding: 20px 10px 10px;
          grid-template:
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "title"
            "price-star";
          .title,
          .price-star {
            font-size: 13px;
            font-weight: 500;
          }
          .price-star {
            .rating {
              .empty-icons,
              .filled-icons {
                svg {
                  width: 18px;
                  height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .home .page-content .item-box:hover .details-box .title {
    text-align: start;
  }
  .home {
    .page-content {
      .item-box {
        width: 35%;
        min-width: 112px;
        height: 200px;
        .image-box {
          img {
            width: 100%;
            max-height: 190px;
          }
        }
        .details-box {
          .title,
          .price-star {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 345px) {
  .home .page-content .item-box:hover .details-box .title {
    text-align: start;
  }
  .home {
    .page-content {
      .item-box {
        width: 85%;
        height: 210px;
        .image-box {
          img {
            width: auto;
          }
        }
      }
    }
  }
}
